
@import url(https://fonts.googleapis.com/css?family=Raleway:400,200);

body {
   margin: 0;
   padding: 0;
   background-image: url('backgrounds/316937.png');
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   background-attachment: fixed;
   resize: both;
   box-sizing: border-box;
   font-family: 'Raleway', sans-serif;
   font-size: 14px;
   color: #333;
}


/* --------mon menu fixe------------------------------------------- */
input, label {
   display: none;
}
#menu {
   display: flex;
   flex-flow: row wrap;
   position: fixed;
   background-color: #404040;
   color: white;
   width: 100%;
   justify-content: space-around;
   box-sizing: border-box;
   z-index: 10;
   top: 0;
   left: 0;
   right: 0;
   overflow: hidden;
   font-family: 'Marcellus SC', serif;
   font-size: 18px;
   padding: 5px 0px 5px 0px;
}

nav a {
   text-decoration: none;
   color: white;
}

nav li {
   display: inline-block;
   margin-left: 15px;
   margin-right: 15px;
}
nav li a:hover {
   /* background-color: #3cb09b; */
   background-color: #f2f2f2;
   color: black;
}

nav ul {
   margin-top: 10px;
   margin-bottom: 10px;
}

/* -------Mes titres----------------------------------------------- */

#titlehello, #titleweb, #titleform, #titleexp, #titlecomp, #titleport {
   box-sizing: border-box;
   text-align: center;
   background: rgba(0, 0, 0, 0.3);
   color: #f1f1f1;
   margin: auto;
   margin-top: 80px;
   margin-bottom: 80px;
   border: 1px solid black;
   width: 30%;
   border-radius: 10px;
   font-size: 18px;
   font-family: 'Marcellus SC', serif;
   -webkit-box-shadow: 10px 13px 22px -7px rgba(0, 0, 0, 0.5);
   -moz-box-shadow: 10px 13px 22px -7px rgba(0, 0, 0, 0.5);
   box-shadow: 10px 13px 22px -7px rgba(0, 0, 0, 0.5);
   overflow: hidden;
   text-overflow: ellipsis
}

/* ---------mon en tete ----------------------- */

#accueil {
   padding-top : 0.9%;
   background: rgba(0, 0, 0, 0.6);
}

#entete {
   padding-top : 2%;
   display: flex;
   background: rgba(0, 0, 0, 0.6);
   color: #f1f1f1;
   top: 0;
   right: 0;
   left: 0;
   width: 100%;
   font-family: 'Marcellus SC', serif;
   box-sizing: border-box;
   padding: 10px;
   font-size: 1.1em;
   -webkit-box-shadow: 10px 13px 22px -7px rgba(0, 0, 0, 0.5);
   -moz-box-shadow: 10px 13px 22px -7px rgba(0, 0, 0, 0.5);
   box-shadow: 10px 13px 22px -7px rgba(0, 0, 0, 0.5);
}

h1 {
   margin: 0;
}

#gauche {
   text-align: center;
   width: 20%;
}

#gauche p {
   margin: 0;
   padding: 0;
   font-family: 'Raleway', sans-serif;
}

#droite {
   margin: auto;
   width: 70%;
   font-size: 18px;
   font-family: 'Raleway', sans-serif;
   line-height: 1.5em;
   padding: 20px;
}

#droite p {
   text-indent: 2em;
}

#droite h2 {
   font-family: 'Marcellus SC', serif;
   text-align: center;
   margin-top: -3%;
   font-size: 1.7em;
   border-bottom: 1px solid grey;
   padding-bottom: 20px;
   width: 400px;
   margin-left: 25%;
}

#droite p::first-letter {
   font-size: 1.7em;
}

#entete img {
   box-shadow: 10px 13px 22px -7px rgba(0, 0, 0, 0.5);
   margin-bottom: 5%;
   margin-top: 15%;
   width : 60%;
   border-radius : 100%;
   border : 2px dotted black;
}

#entete a {
   text-decoration: none;
   color: white;
   font-weight: bold;
}

#entete a:hover {
   text-decoration: underline;
   color: #e6005c;
   font-weight: bold;
}

/* --------------Mes compétences----------------------------------- */

#compweb {
   box-sizing: border-box;
   display: flex;
   flex-flow: row wrap;
   justify-content: space-between;
   background-color: white;
   /* background : rgba(255,255,255, 0.9); */
   margin: auto;
   border: 1px solid black;
   width: 83%;
   border-radius: 10px;
   box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}

#compweb ul {
   list-style: none;
   padding-left: 0px;
   margin-bottom: 0px;
}

#compweb li {
   text-align: center;
   padding: 10px;
}

#compweb img {
   width: 100px;
   height: 100px;
   margin-top: 10px;
}

#compweb #php {
   width: 90%;
}

.html, .css3, .js, .php, .linux {
   display: flex;
   justify-content: space-between;
   width: 20%;
}

#compweb div:hover {
   transition: 0.5s;
   transform: scale(1.10, 1.10);
}

progress {
   display: block;
   width: 50%;
   margin: auto;
   border: 3px solid white;
   border-radius: 5px;
   box-shadow: 0 0 0 3px #b6b6b6;
   margin-top: 5px;
}

/* ---------Ma formation-------------------------- */

#formation {
   box-sizing: border-box;
   display: flex;
   flex-flow: row wrap;
   justify-content: space-between;
   width: 83%;
   margin: auto;
   border-radius: 10px;
   text-rendering: optimizespeed;
}

#formation div {
   background-color: white;
   border: 1px solid black;
   border-radius: 10px;
   width: 24%;
}

#formation img {
   width: auto;
   height: 8em;
   display: block;
   margin: auto;
   max-width: 100%;
   max-height: 100%;
   overflow: auto;
}

#formation li {
   list-style: none;
   padding-left: 15px;
   padding-right: 15px;
}

#formation ul {
   padding: inherit;
}

#formation h4 {
   text-align: center;
}

#simplon img {
   width: 35%;
   height: auto;
   padding-top: 0px;
}

#padd {
   margin-bottom: 40px;
}

.dates {
   font-style: italic;
   margin: inherit;
   font-size: 0.9em;
}



/* -----------Mes experiences pro------------------------------------ */
#titres {
   display: flex;
   flex-flow: row wrap;
   justify-content: space-around;
}
#titleexp {
   margin-left: 17%;
}
#titlecomp {
   width: 20%;
   margin-right: 17%;
}

#exppro {
   display: flex;
   flex-flow: row wrap;
   justify-content: space-between;
   margin: auto;
   width: 83%;
   box-sizing: border-box;
}

#exppro h2 {
   font-size: 1.3em;
   font-family: 'Marcellus SC', serif;
   display: block;
   text-align: center;
}

#exppro h2:first-letter {
   font-size: 1.5em;
}

#exppro p {
   text-align: left;
}

#exp {
   width: 52%;
   background-color: white;
   margin: auto;
   border: 1px solid black;
   border-radius: 10px;
   box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}

#exp li, h4 {
   list-style: none;
}

#exp h4 {
   text-indent: -15px;
}

#exp p {
   text-indent: -10px;
   margin-top: 0px;
   margin-bottom: 0px;
   line-height: 1.5em;
}

.infos {
   display: flex;
   justify-content: space-between;
   padding-right: 1%;
}

.infos p {
   font-style: italic;
   color: #404040;
   padding-top: 20px;
}

#com {
   display: flex;
   flex-flow: column wrap;
   text-indent: -10px;
   box-sizing: border-box;
   margin: auto;
}

.comp, .compt {
   width: 70%;
   background-color: white;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 2vw;
   margin-top: 2vw;
   border: 1px solid black;
   border-radius: 10px;
   list-style: url('https://image.flaticon.com/icons/svg/214/214353.svg');
   text-align: center;
   box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
   box-sizing: border-box;
}

.comp p, .compt p {
   padding-right: 1%;
   text-indent: -20px;
}

.comp:hover, .compt:hover {
   transition: 0.5s;
   transform: scale(1.15, 1.15);
}

/* #autresExp {
background-color: white;
margin: auto;
border: 1px dotted black;
width: 80%;
border-radius: 10px;
box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
line-height: 1.5em;
padding: 0 1% 1% 1%;
box-sizing: border-box;
text-indent: 20px;
}

#autresExp h2 {
text-align: center;
font-size: 1.3em;
font-family: 'Marcellus SC', serif;
padding-top: 1%;
}

#autresExp h2:first-letter {
font-size: 1.5em;
}

#autresExp img {
display: flex;
margin: auto;
}

#autresExp a {
text-decoration: none;
color: #333;
font-weight: bold;
}

#autresExp a:hover {
text-decoration: underline;
} */

/* ---------Portfoliooooooo----------------------------- */

/* .pf {
box-sizing: border-box;
display: flex;
flex-flow: row wrap;
justify-content: space-between;
width: 83%;
padding: 15px;
background: rgba(0, 0, 0, 0.1);
margin: auto;
margin-bottom: 40px;
border: 1px solid black;
border-radius: 10px;
box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}

.pf img {
width: 30%;
min-width: 30%;
height: auto;
padding: 15px;
}

.pf img:hover {
transition: 0.5s;
transform: scale(1.15, 1.15);
filter: saturate(200%);
} */


/* caroussel -------------------------------------------------- */

#caroussel {
   background: rgba(0, 0, 0, 0.1);
   margin: auto;
   border: 1px solid black;
   border-radius: 10px;
   width: 83%;
   margin-bottom: 5%;
}

.diy-slideshow{
   position: relative;
   display: block;
   overflow: hidden;
}
figure{
   position: absolute;
   opacity: 0;
   transition: 1s opacity;
}
figcaption{
   position: absolute;
   font-family: sans-serif;
   font-size: 1.1em;
   /* bottom: .75em; */
   top : 0em;
   right: .35em;
   padding: .25em;
   color: #fff;
   background: rgba(0,0,0, .7);
   border-radius: 2px;
   width : 99%;
}
figcaption a{
   color: #fff;
}
figure.show{
   opacity: 1;
   position: static;
   transition: 1s opacity;
}
figure>img:hover {
   transition: 0.5s;
   transform: scale(1.15, 1.15);
   filter: saturate(200%);
}
.next, .prev{
   color: #fff;
   position: absolute;
   background: rgba(0,0,0, .6);
   top: 50%;
   z-index: 1;
   font-size: 2em;
   margin-top: -.75em;
   opacity: .3;
   user-select: none;
}
.next:hover, .prev:hover{
   cursor: pointer;
   opacity: 1;
}
.next{
   right: 0;
   padding: 10px 5px 15px 10px;
   border-top-left-radius: 3px;
   border-bottom-left-radius: 3px;
}
.prev{
   left: 0;
   padding: 10px 10px 15px 5px;
   border-top-right-radius: 3px;
   border-bottom-right-radius: 3px;
}

figcaption a{
   color:#fff;
   text-decoration: none;
   font-weight: bold;}

   figcaption a:hover {
      text-decoration: underline;
   }

   /* -------Footer------------------------------ */

   footer {
      /* background-color: #333; */
      background: rgba(0, 0, 0, 0.3);

   }

   footer h1 {
      color: white;
      text-align: center;
      padding: 10px;
      padding-top: 20px;
      border-bottom: 1px solid white;
      display: flex;
      justify-content: space-around;
      width: 20%;
      margin: auto;
      font-family: 'Marcellus SC', serif;
      font-size: 1.8em;
   }

   #button {
      padding: 20px;
   }

   .button-1 {
      display: block;
      width: 140px;
      height: 45px;
      background: white;
      color: #404040;
      font-size: 14px;
      margin: 0 auto;
      line-height: 50px;
      text-align: center;
      border-radius: 3px;
      text-decoration: none;
      -webkit-box-shadow: 10px 13px 22px -7px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 10px 13px 22px -7px rgba(0, 0, 0, 0.5);
      box-shadow: 10px 13px 22px -7px rgba(0, 0, 0, 0.5);
   }

   .button-1:hover {
      background-color: #333;
      color: white;
      box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
   }

   #contact {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      /* background: rgba(0, 0, 0, 0.5); */
      background-color: #333;
      align-items: center;
   }

   #contact img {
      width: auto;
      height: 30px;
      margin: 10px;
   }

   #contact p {
      color: white;
   }

   #contact a {
      text-decoration: none;
   }

   .copyright {
      background-color: #333;
      color: #777;
      text-align: center;
      font-weight: bold;
      padding: 5px 0 5px 0;
   }

   /* ------------------------effets css ----------------------------------------- */

   .bounce {
      display: inline-block;
      vertical-align: middle;
      -webkit-transform: perspective(1px) translateZ(0);
      transform: perspective(1px) translateZ(0);
      box-shadow: 0 0 1px transparent;
      -webkit-transition-duration: 0.5s;
      transition-duration: 0.5s;
   }

   .bounce:hover, .bounce:focus, .bounce:active {
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
      -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
      transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
   }

   @keyframes myrotate {
      0% {
         transform: rotate(0deg);
      }
      100% {
         transform: rotate(359deg);
      }
   }

   .rotate:hover {
      animation: myrotate 1.5s infinite linear;
   }

   progress::-webkit-progress-bar {
      border-radius: 5px;
      background-color: #d4d4d4;
   }

   progress::-webkit-progress-value {
      border-radius: 5px;
      background-color: #a5d62f;
      background-image: -webkit-linear-gradient(-45deg, transparent 25%, rgba(255, 255, 255, 0.3) 25%, rgba(255, 255, 255, 0.3) 50%, transparent 50%, transparent 75%, rgba(255, 255, 255, 0.3) 75%, rgba(255, 255, 255, 0.3));
      background-image: linear-gradient(-45deg, transparent 25%, rgba(255, 255, 255, 0.3) 25%, rgba(255, 255, 255, 0.3) 50%, transparent 50%, transparent 75%, rgba(255, 255, 255, 0.3) 75%, rgba(255, 255, 255, 0.3));
      background-size: 40px 40px;
      -webkit-animation: progress 8s linear infinite;
      animation: progress 8s linear infinite;
   }

   progress::-moz-progress-bar {
      border-radius: 5px;
      background-color: #a5d62f;
      background-image: linear-gradient(-45deg, transparent 25%, rgba(255, 255, 255, 0.3) 25%, rgba(255, 255, 255, 0.3) 50%, transparent 50%, transparent 75%, rgba(255, 255, 255, 0.3) 75%, rgba(255, 255, 255, 0.3));
      background-size: 40px 40px;
      -moz-animation: progress 8s linear infinite;
      animation: progress 8s linear infinite;
   }

   /* burger menu */

   header {
      height: 50px;
      width: 100%;
      text-align: center;
      background-color: #404040;
      position: fixed;
      z-index: 3;
      margin: 0;
      padding: 0;
      border: 0;
      font-size: 100%;
      font: inherit;
      vertical-align: baseline;
   }
   header #menu_head {
      position: absolute;
      top: 20px;
      left: 20px;
      font-weight: 700;
      font-size: 14px;
   }
   header #menu_head p {
      position: absolute;
      top: -14px;
      left: 30px;
      text-transform: uppercase;
      font-size: 14px;
      color: white;
   }
   header img {
      text-transform: uppercase;
      font-weight: 700;
   }

.triple-bar {
   width: 100%;
   z-index: 2;
   background-color: #333;
   color: white;
   position: absolute;
   top: 0;
   left: -100%;
   bottom: 0;
   font-size: 18px;
   height: 100%;
   text-align: center;
   transition: all 400ms;
}
.triple-bar nav {
   position: absolute;
   top: 29%;
   left: 10px;
   right: 10px;
}
.triple-bar nav li {
   padding: 20px 0;
   display: list-item;
   list-style: none;
}

 .open {
   left: 0;
   width: 100%;
   overflow: hidden;
}

.no_responsive_head {
   display: none;
}

/* --------------------------------media queries ----------------------------------- */

/* max-width 780px -> Règles appliquées pour toute largeur de navigateur inférieure à la valeur définie dans la requête. */

@media screen and (max-width: 780px) {

   .no_responsive_head {
      display: block;
   }
   .responsive_head {
      display: none;
   }

   /* pour mon menu responsive  */
   input, label {
      display: inherit;
   }
   /* #menu ul::before {display: none;}
   #menu ul::after {display: inherit;} */

   #entete {
      padding-top: 20px%;
      font-size: 0.6em;
      display: flex;
      flex-direction: column;
   }
   #gauche, #droite {
      width: 92%;
      font-size : 1.6em;
   }
   #droite h2 {
      font-size: 1.7em;
      width : 200px;
      margin: inherit;
   }
   #compweb, #formation, #exp, #com, #autresExp {
      width: 95%;
   }
   #titlehello, #titleweb, #titleform, #titleexp, #titleport {
      width: 95%;
   }
   #compweb>div {
      display: flex;
      flex-direction: column;
      width: 95%;
   }
   #php {
      height: 70px;
   }
   #compweb div:hover {
      transform: none;
   }
   #formation>div {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-bottom: 1vw;
   }

   #exppro {
      display: flex;
      flex-direction: column;
      width: 100%;
      /* margin-left: 2%; */
   }
   #exppro li {
      padding-right: 5%;
   }
   #exp {
      margin: 2vw 0 1vw 0;
      width: 95%;
   }
   #titleexp {
      margin-left: 2vw;
   }
   #titlecomp {
      display: none;
   }
   /* #autresExp p, h2, h4 {
   padding: 0 8% 0 8%;
}
#autresExp img {
width: 80%;
} */
.infos {
   flex-direction: column;
}
.infos>p {
   padding-top: 1%;
}
.comp, .compt {
   width: 97%;
   margin-top: 1vw;
}
.comp:hover, .compt:hover {
   transform: none;
}
#portfolio img {
   display: flex;
   flex-direction: column;
   width: 80%;
}
#footer>h1 {
   font-size: 1.2em;
   width: 50%;
}
}
